{{! BEGIN-SNIPPET components-custom-progress-body.hbs }}
<p>Custom Progress Body Component {{@done}} / {{@overall}}</p>
{{#if @options.circular}}
  <PaperProgressCircular
    @value={{this.progress}}
    class={{this.options.circularClass}}
    @accent={{this.options.circularAccent}}
    @warn={{this.options.circularWarn}}
    @diameter={{this.options.circularDiameter}}
    @strokeRatio={{this.options.circularStrokeRatio}}/>
{{else}}
  <PaperProgressLinear
    @value={{this.progress}}
    @accent={{this.options.linearAccent}}
    @warn={{this.options.linearWarn}}/>
{{/if}}
{{! END-SNIPPET }}