{{! BEGIN-SNIPPET components-custom-process-body.hbs }}
<p>Custom Process Body Component</p>
<p>{{@options.body}}</p>
<div class="layout-row layout-align-center">
  <PaperProgressCircular
    class={{this.options.circularClass}}
    @accent={{this.options.circularAccent}}
    @warn={{this.options.circularWarn}}
    @diameter={{this.options.circularDiameter}}
    @strokeRatio={{this.options.circularStrokeRatio}}/>
</div>
{{! END-SNIPPET }}