<PaperDialog
  @fullscreen={{@options.fullscreen}}
  @escapeToClose={{@options.escapeToClose}}
  @opaque={{@options.opaque}}
  @focusOnOpen={{@options.focusOnOpen}}
  @clickOutsideToClose={{@options.clickOutsideToClose}}
  @closeTo={{@options.closeTo}}
  @openFrom={{@options.openFrom}}
  @origin={{@options.origin}}
  @parent={{@options.parent}}
  @onClose={{this.decline}}>
  {{#if @options.titleComponent}}
    {{component
      @options.titleComponent
      options=@options
      confirm=this.confirm
      decline=this.decline}}
  {{/if}}
  <PaperDialogContent>

    {{#unless @options.titleComponent}}
      <h2 class="md-title">{{@options.title}}</h2>
    {{/unless}}

    {{#if @options.bodyComponent}}
      {{component
        @options.bodyComponent
        options=@options
        promptValue=this.promptValue
        updatePromptValue=this.updatePromptValue}}
    {{else}}
      <p>{{@options.body}}</p>
      <PaperForm @onSubmit={{this.confirm}}>
        <PaperCheckbox
          @label={{@options.inputLabel}}
          @value={{this.promptValue}}
          @onChange={{fn (mut this.promptValue)}}
          @required={{true}}/>
      </PaperForm>
    {{/if}}
  </PaperDialogContent>
  <PaperDialogActions class="layout-row">
    <span class="flex"></span>
    {{#if @options.footerComponent}}
      {{component
        @options.footerComponent
        options=@options
        confirmDisabled=this.confirmDisabled
        confirm=this.confirm
        decline=this.decline}}
    {{else}}
      <p>{{@options.footer}}</p>
      <PaperButton
        @primary={{@options.declineButtonPrimary}}
        @fab={{@options.declineButtonFab}}
        @mini={{@options.declineButtonMini}}
        @noInk={{@options.declineButtonNoInk}}
        @raised={{@options.declineButtonRaised}}
        @iconButton={{@options.declineButtonIcon}}
        @onClick={{this.decline}}>
        {{#if @options.declineButtonIcon}}
          <PaperIcon @icon={{@options.declineButtonIcon}}/>
        {{/if}}
        {{@options.decline}}
      </PaperButton>
      <PaperButton
        @primary={{@options.confirmButtonPrimary}}
        @fab={{@options.confirmButtonFab}}
        @mini={{@options.confirmButtonMini}}
        @noInk={{@options.confirmButtonNoInk}}
        @raised={{@options.confirmButtonRaised}}
        @iconButton={{@options.confirmButtonIcon}}
        @disabled={{this.confirmDisabled}}
        @onClick={{this.confirm}}>
        {{#if @options.confirmButtonIcon}}
          <PaperIcon @icon={{@options.confirmButtonIcon}}/>
        {{/if}}
        {{@options.confirm}}
      </PaperButton>
    {{/if}}
  </PaperDialogActions>
</PaperDialog>