<PaperDialog
  @fullscreen={{@options.fullscreen}}
  @escapeToClose={{@options.escapeToClose}}
  @opaque={{@options.opaque}}
  @focusOnOpen={{@options.focusOnOpen}}
  @clickOutsideToClose={{@options.clickOutsideToClose}}
  @closeTo={{@options.closeTo}}
  @openFrom={{@options.openFrom}}
  @origin={{@options.origin}}
  @parent={{@options.parent}}
  @onClose={{this.decline}}>
  {{#if @options.titleComponent}}
    {{component
      @options.titleComponent
      options=@options
      confirm=this.confirm
      decline=this.decline}}
  {{/if}}
  <PaperDialogContent>

    {{#unless @options.titleComponent}}
      <h2 class="md-title">{{@options.title}}</h2>
    {{/unless}}

    {{#if @options.bodyComponent}}
      {{component
        @options.bodyComponent
        options=@options
        progress=this.progress
        done=this.done
        overall=this.promisesCount}}
    {{else}}
      <p>{{@options.body}}</p>
      <div class="layout-row layout-align-center">
        {{#if @options.circular}}
          <PaperProgressCircular
            @value={{this.progress}}
            class={{this.options.circularClass}}
            @accent={{this.options.circularAccent}}
            @warn={{this.options.circularWarn}}
            @diameter={{this.options.circularDiameter}}
            @strokeRatio={{this.options.circularStrokeRatio}}/>
        {{else}}
          <PaperProgressLinear
            @value={{this.progress}}
            @accent={{this.options.linearAccent}}
            @warn={{this.options.linearWarn}}/>
        {{/if}}
      </div>
    {{/if}}
  </PaperDialogContent>
  <PaperDialogActions class="layout-row">
    <span class="flex"></span>
    {{#if @options.footerComponent}}
      {{component
        @options.footerComponent
        options=@options}}
    {{else}}
      {{#if @options.cancelable}}
        <PaperButton
          @primary={{@options.declineButtonPrimary}}
          @fab={{@options.declineButtonFab}}
          @mini={{@options.declineButtonMini}}
          @noInk={{@options.declineButtonNoInk}}
          @raised={{@options.declineButtonRaised}}
          @iconButton={{@options.declineButtonIcon}}
          @onClick={{this.cancel}}>
          {{#if @options.declineButtonIcon}}
            <PaperIcon @icon={{@options.declineButtonIcon}}/>
          {{/if}}
          {{@options.cancel}}
        </PaperButton>
      {{/if}}
    {{/if}}
  </PaperDialogActions>
</PaperDialog>