<PaperDialog
  @fullscreen={{this.options.fullscreen}}
  @escapeToClose={{this.options.escapeToClose}}
  @opaque={{this.options.opaque}}
  @focusOnOpen={{this.options.focusOnOpen}}
  @clickOutsideToClose={{this.options.clickOutsideToClose}}
  @closeTo={{this.options.closeTo}}
  @openFrom={{this.options.openFrom}}
  @origin={{this.options.origin}}
  @parent={{this.options.parent}}
  @onClose={{this.decline}}>
  {{#if this.options.titleComponent}}
    {{component
      this.options.titleComponent
      options=this.options
      confirm=this.confirm
      decline=this.decline
    }}
  {{/if}}
  <PaperDialogContent>

    {{#unless this.options.titleComponent}}
      <h2 class="md-title">{{this.options.title}}</h2>
    {{/unless}}

    {{#if this.options.bodyComponent}}
      {{component
        this.options.bodyComponent
        options=this.options
        promptValue=this.promptValue
        updatePromptValue=this.updatePromptValue
      }}
    {{else}}
      <p>{{this.options.body}}</p>
      <PaperForm @onSubmit={{this.confirm}} as |form|>
        <form.input
          @label={{this.options.inputLabel}}
          @value={{this.promptValue}}
          @onChange={{fn (mut this.promptValue)}}/>
      </PaperForm>
    {{/if}}
  </PaperDialogContent>
  <PaperDialogActions class="layout-row">
    <span class="flex"></span>
    {{#if this.options.footerComponent}}
      {{component
        this.options.footerComponent
        options=this.options
        confirmDisabled=this.confirmDisabled
        confirm=this.confirm
        decline=this.decline
      }}
    {{else}}
      <p>{{this.options.footer}}</p>
      <PaperButton
        @primary={{this.options.declineButtonPrimary}}
        @fab={{this.options.declineButtonFab}}
        @mini={{this.options.declineButtonMini}}
        @noInk={{this.options.declineButtonNoInk}}
        @raised={{this.options.declineButtonRaised}}
        @iconButton={{this.options.declineButtonIcon}}
        @onClick={{this.decline}}>
        {{#if this.options.declineButtonIcon}}
          <PaperIcon @icon={{this.options.declineButtonIcon}}/>
        {{/if}}
        {{this.options.decline}}
      </PaperButton>
      <PaperButton
        @primary={{this.options.confirmButtonPrimary}}
        @fab={{this.options.confirmButtonFab}}
        @mini={{this.options.confirmButtonMini}}
        @noInk={{this.options.confirmButtonNoInk}}
        @raised={{this.options.confirmButtonRaised}}
        @iconButton={{this.options.confirmButtonIcon}}
        @disabled={{this.confirmDisabled}}
        @onClick={{this.confirm}}>
        {{#if this.options.confirmButtonIcon}}
          <PaperIcon @icon={{this.options.confirmButtonIcon}}/>
        {{/if}}
        {{this.options.confirm}}
      </PaperButton>
    {{/if}}
  </PaperDialogActions>
</PaperDialog>