<style>
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  *::-webkit-scrollbar-thumb {
    background: #9e9e9e;
  }

  html {
    font-size: 62.5%;
    line-height: 1.4;
  }

  body {
    font-size: 1.6rem;
    max-width: 100%;
    max-height: 100%;
  }

  a {
    color: #106CC8;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 1px solid rgba(64, 84, 178, 0.25);
    transition: border-bottom 0.35s;
  }

  a:hover, a:focus {
    border-bottom: 1px solid #4054B2;
  }

  a.md-button {
    border-bottom: none;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h1 {
    font-size: 3.400rem;
    font-weight: 400;
    line-height: 4rem;
  }

  h2 {
    font-size: 2.400rem;
    font-weight: 400;
    line-height: 3.2rem;
  }

  h3 {
    font-size: 2.000rem;
    font-weight: 500;
    letter-spacing: 0.005em;
  }

  h4 {
    font-size: 1.600rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 2.4rem;
  }

  p {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
    margin: 0.8em 0 1.6em;
  }
</style>
<div id="main" class="flex layout-column" tabindex="-1" role="main">
  {{#paper-content scroll-y=true class="layout-padding flex"}}
    <h3>Back to {{#link-to "docs"}}docs{{/link-to}}</h3>
    <div class="layout-row flex">
      <div class="flex-60 demo">
        <h3>Default modals:</h3>
        {{#paper-button raised=true class="alert-modal" onClick=(action "showAlertModal")}}Alert Modal{{/paper-button}}
        {{#paper-button raised=true class="confirm-modal" onClick=(action "showConfirmModal")}}
          Confirm Modal{{/paper-button}}
        {{#paper-button raised=true class="prompt-modal" onClick=(action "showPromptModal")}}
          Prompt Modal{{/paper-button}}
        {{#paper-button raised=true class="prompt-confirm-modal" onClick=(action "showPromptConfirmModal")}}
          Prompt Confirm Modal{{/paper-button}}
        {{#paper-button raised=true class="check-confirm-modal" onClick=(action "showCheckConfirmModal")}}
          Check Confirm Modal{{/paper-button}}
        {{#paper-button raised=true class="progress-modal" onClick=(action "showProgressModal")}}
          Progress Modal{{/paper-button}}
        {{#paper-button raised=true class="process-modal" onClick=(action "showProcessModal")}}
          Process Modal{{/paper-button}}

        <h3>Modals with custom components:</h3>
        {{#paper-button raised=true class="custom-alert-modal" onClick=(action "showCustomAlertModal")}}
          Alert Modal{{/paper-button}}
        {{#paper-button raised=true class="custom-confirm-modal" onClick=(action "showCustomConfirmModal")}}
          Confirm Modal{{/paper-button}}
        {{#paper-button raised=true class="custom-prompt-modal" onClick=(action "showCustomPromptModal")}}
          Prompt Modal{{/paper-button}}
        {{#paper-button raised=true class="custom-prompt-confirm-modal"
                        onClick=(action "showCustomPromptConfirmModal")}}Prompt Confirm Modal{{/paper-button}}
        {{#paper-button raised=true class="custom-check-confirm-modal" onClick=(action "showCustomCheckConfirmModal")}}
          Check Confirm Modal{{/paper-button}}
        {{#paper-button raised=true class="custom-progress-modal" onClick=(action "showCustomProgressModal")}}
          Progress Modal{{/paper-button}}
        {{#paper-button raised=true class="custom-process-modal" onClick=(action "showCustomProcessModal")}}
          Process Modal{{/paper-button}}
        <h3>Settings:</h3>
        {{#paper-form}}
          <h4>General:</h4>
          <div class="layout-row flex">
            <div class="flex-50">
              {{paper-checkbox
                value=confirmButtonFab
                class="confirm-button-fab"
                label="Confirm Button Fab"
                onChange=(action (mut confirmButtonFab))
              }}
              {{paper-checkbox
                value=confirmButtonMini
                class="confirm-button-mini"
                label="Confirm Button Mini"
                onChange=(action (mut confirmButtonMini))
              }}
              {{paper-checkbox
                value=confirmButtonNoInk
                class="confirm-button-no-ink"
                label="Confirm Button No Ink"
                onChange=(action (mut confirmButtonNoInk))
              }}
              {{paper-checkbox
                value=confirmButtonRaised
                class="confirm-button-raised"
                label="Confirm Button Raised"
                onChange=(action (mut confirmButtonRaised))
              }}
            </div>
            <div class="flex-50">
              {{paper-checkbox
                value=declineButtonFab
                class="decline-button-fab"
                label="Decline Button Fab"
                onChange=(action (mut declineButtonFab))
              }}
              {{paper-checkbox
                value=declineButtonMini
                class="decline-button-mini"
                label="Decline Button Mini"
                onChange=(action (mut declineButtonMini))
              }}
              {{paper-checkbox
                value=declineButtonNoInk
                class="decline-button-no-ink"
                label="Decline Button No Ink"
                onChange=(action (mut declineButtonNoInk))
              }}
              {{paper-checkbox
                value=declineButtonRaised
                class="decline-button-raised"
                label="Decline Button Raised"
                onChange=(action (mut declineButtonRaised))
              }}
            </div>
          </div>
          <h4>Prompt:</h4>
          {{paper-checkbox
            value=disallowEmptyPrompt
            class="disallow-empty"
            label="Disallow empty prompt"
            onChange=(action (mut disallowEmptyPrompt))
          }}
          <h4>Progress:</h4>
          <div class="layout-row flex">
            <div class="flex-50">
              {{paper-checkbox
                value=progressWillFail
                class="progress-will-fail"
                label="Progress will fail"
                onChange=(action (mut progressWillFail))
              }}
              {{paper-checkbox
                value=settled
                class="progress-settled"
                label="Progress won't stop on first failed"
                onChange=(action (mut settled))
              }}
              {{paper-checkbox
                value=cancelable
                class="progress-cancelable"
                label="Progress can be canceled"
                onChange=(action (mut cancelable))
              }}
            </div>
            <div class="flex-50">
              {{paper-checkbox
                value=progressCircular
                class="progress-circular"
                label="Progress bar is circular"
                onChange=(action (mut progressCircular))
              }}
            </div>
          </div>
          <h4>Process:</h4>
          {{paper-checkbox
            value=processWillFail
            class="process-will-fail"
            label="Process will fail"
            onChange=(action (mut processWillFail))
          }}
          <div class="layout-row flex">
            <div class="flex-50">
              <h4>Color for Process and Progress:</h4>
              {{#paper-radio-group
                groupValue=(readonly colorType)
                onChange=(action (mut colorType)) as |group|}}
                {{#group.radio value="primary"}} Default {{/group.radio}}
                {{#group.radio value="warn" }} Warn {{/group.radio}}
                {{#group.radio value="accent"}} Accent {{/group.radio}}
              {{/paper-radio-group}}
            </div>
            <div class="flex-50">
              <h4>Circular options:</h4>
              <div class="layout layout-align-center-center slider-container">
                <span>Diameter:&nbsp;&nbsp;&nbsp;</span>
                {{paper-slider
                  class="flex"
                  min=0
                  max=300
                  value=circularDiameter
                  onChange=(action (mut circularDiameter))
                }}
                {{paper-input
                  type="number"
                  value=circularDiameter
                  onChange=(action (mut circularDiameter))
                  min=0
                  max=300
                }}
              </div>
              <div class="layout layout-align-center-center slider-container">
                <span>Stroke Radio:&nbsp;&nbsp;&nbsp;</span>
                {{paper-slider
                  class="flex"
                  min=0
                  max=0.5
                  value=circularStrokeRatio
                  step=0.01
                  onChange=(action (mut circularStrokeRatio))
                }}
                {{paper-input
                  type="number"
                  value=circularStrokeRatio
                  onChange=(action (mut circularStrokeRatio))
                  min=0
                  max=0.5
                }}
              </div>
            </div>
          </div>
        {{/paper-form}}
        {{outlet}}
      </div>
      <div class="flex-40">
        <p>Last Modal Options:</p>
        <pre>{{stringifiedOptions}}</pre>
        <p>Logs:</p>
        <p class="logs">{{#each messages as |message|}}{{message}}<br>{{/each}}</p>
        {{#paper-button raised=true onClick=(action "cleanMessage")}}Clear logs{{/paper-button}}
      </div>
    </div>
  {{/paper-content}}
</div>
{{modals-container}}