<style>
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  *::-webkit-scrollbar-thumb {
    background: #9e9e9e;
  }

  html {
    font-size: 62.5%;
    line-height: 1.4;
  }

  body {
    font-size: 1.6rem;
    max-width: 100%;
    max-height: 100%;
  }

  a {
    color: #106CC8;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 1px solid rgba(64, 84, 178, 0.25);
    transition: border-bottom 0.35s;
  }

  a:hover, a:focus {
    border-bottom: 1px solid #4054B2;
  }

  a.md-button {
    border-bottom: none;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h1 {
    font-size: 3.400rem;
    font-weight: 400;
    line-height: 4rem;
  }

  h2 {
    font-size: 2.400rem;
    font-weight: 400;
    line-height: 3.2rem;
  }

  h3 {
    font-size: 2.000rem;
    font-weight: 500;
    letter-spacing: 0.005em;
  }

  h4 {
    font-size: 1.600rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 2.4rem;
  }

  p {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
    margin: 0.8em 0 1.6em;
  }

  .docs-bg-white, body > .ember-view {
    background: transparent;
  }
</style>
<div id="main" class="flex layout-column" tabindex="-1" role="main">
  <PaperContent
    @scroll-y={{true}}
    class="layout-padding flex">
    <h3>Back to <LinkTo @route="docs">docs</LinkTo></h3>
    <div class="layout-row flex">
      <div class="flex-60 demo">
        <h3>Default modals:</h3>
        <PaperButton
          @raised={{true}}
          class="alert-modal"
          @onClick={{this.showAlertModal}}>
          Alert Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="confirm-modal"
          @onClick={{this.showConfirmModal}}>
          Confirm Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="prompt-modal"
          @onClick={{this.showPromptModal}}>
          Prompt Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="prompt-confirm-modal"
          @onClick={{this.showPromptConfirmModal}}>
          Prompt Confirm Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="check-confirm-modal"
          @onClick={{this.showCheckConfirmModal}}>
          Check Confirm Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="progress-modal"
          @onClick={{this.showProgressModal}}>
          Progress Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="process-modal"
          @onClick={{this.showProcessModal}}>
          Process Modal
        </PaperButton>

        <h3>Modals with custom components:</h3>
        <PaperButton
          @raised={{true}}
          class="custom-alert-modal"
          @onClick={{this.showCustomAlertModal}}>
          Alert Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="custom-confirm-modal"
          @onClick={{this.showCustomConfirmModal}}>
          Confirm Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="custom-prompt-modal"
          @onClick={{this.showCustomPromptModal}}>
          Prompt Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="custom-prompt-confirm-modal"
          @onClick={{this.showCustomPromptConfirmModal}}>
          Prompt Confirm Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="custom-check-confirm-modal"
          @onClick={{this.showCustomCheckConfirmModal}}>
          Check Confirm Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="custom-progress-modal"
          @onClick={{this.showCustomProgressModal}}>
          Progress Modal
        </PaperButton>
        <PaperButton
          @raised={{true}}
          class="custom-process-modal"
          @onClick={{this.showCustomProcessModal}}>
          Process Modal
        </PaperButton>
        <h3>Settings:</h3>
        <PaperForm>
          <h4>General:</h4>
          <div class="layout-row flex">
            <div class="flex-50">
              <PaperCheckbox
                @value={{this.confirmButtonFab}}
                class={{"confirm-button-fab"}}
                @label={{"Confirm Button Fab"}}
                @onChange={{fn (mut this.confirmButtonFab)}}/>
              <PaperCheckbox
                @value={{this.confirmButtonMini}}
                class={{"confirm-button-mini"}}
                @label={{"Confirm Button Mini"}}
                @onChange={{fn (mut this.confirmButtonMini)}}/>
              <PaperCheckbox
                @value={{this.confirmButtonNoInk}}
                class={{"confirm-button-no-ink"}}
                @label={{"Confirm Button No Ink"}}
                @onChange={{fn (mut this.confirmButtonNoInk)}}/>
              <PaperCheckbox
                @value={{this.confirmButtonRaised}}
                class={{"confirm-button-raised"}}
                @label={{"Confirm Button Raised"}}
                @onChange={{fn (mut this.confirmButtonRaised)}}/>
            </div>
            <div class="flex-50">
              <PaperCheckbox
                @value={{this.declineButtonFab}}
                class={{"decline-button-fab"}}
                @label={{"Decline Button Fab"}}
                @onChange={{fn (mut this.declineButtonFab)}}/>
              <PaperCheckbox
                @value={{this.declineButtonMini}}
                class={{"decline-button-mini"}}
                @label={{"Decline Button Mini"}}
                @onChange={{fn (mut this.declineButtonMini)}}/>
              <PaperCheckbox
                @value={{this.declineButtonNoInk}}
                class={{"decline-button-no-ink"}}
                @label={{"Decline Button No Ink"}}
                @onChange={{fn (mut this.declineButtonNoInk)}}/>
              <PaperCheckbox
                @value={{this.declineButtonRaised}}
                class={{"decline-button-raised"}}
                @label={{"Decline Button Raised"}}
                @onChange={{fn (mut this.declineButtonRaised)}}/>
            </div>
          </div>
          <h4>Prompt:</h4>
          <PaperCheckbox
            @value={{this.disallowEmptyPrompt}}
            class={{"disallow-empty"}}
            @label={{"Disallow empty prompt"}}
            @onChange={{fn (mut this.disallowEmptyPrompt)}}/>
          <h4>Progress:</h4>
          <div class="layout-row flex">
            <div class="flex-50">
              <PaperCheckbox
                @value={{this.progressWillFail}}
                class={{"progress-will-fail"}}
                @label={{"Progress will fail"}}
                @onChange={{fn (mut this.progressWillFail)}}/>
              <PaperCheckbox
                @value={{this.settled}}
                class={{"progress-settled"}}
                @label={{"Progress won't stop on first failed"}}
                @onChange={{fn (mut this.settled)}}/>
              <PaperCheckbox
                @value={{this.cancelable}}
                class={{"progress-cancelable"}}
                @label={{"Progress can be canceled"}}
                @onChange={{fn (mut this.cancelable)}}/>
            </div>
            <div class="flex-50">
              <PaperCheckbox
                @value={{this.progressCircular}}
                class={{"progress-circular"}}
                @label={{"Progress bar is circular"}}
                @onChange={{fn (mut this.progressCircular)}}/>
            </div>
          </div>
          <h4>Process:</h4>
          <PaperCheckbox
            @value={{this.processWillFail}}
            class={{"process-will-fail"}}
            @label={{"Process will fail"}}
            @onChange={{fn (mut this.processWillFail)}}/>
          <div class="layout-row flex">
            <div class="flex-50">
              <h4>Color for Process and Progress:</h4>
              <PaperRadioGroup
                @groupValue={{readonly this.colorType}}
                @onChange={{fn (mut this.colorType)}}
              as |group|>
                <group.radio
                  @value={{"primary"}}>
                  Default
                </group.radio>
                <group.radio
                  @value={{"warn"}}>
                  Warn
                </group.radio>
                <group.radio
                  @value={{"accent"}}>
                  Accent
                </group.radio>
              </PaperRadioGroup>
            </div>
            <div class="flex-50">
              <h4>Circular options:</h4>
              <div class="layout layout-align-center-center slider-container">
                <span>Diameter:&nbsp;&nbsp;&nbsp;</span>
                <PaperSlider
                  class={{"flex"}}
                  @min={{0}}
                  @max={{300}}
                  @value={{this.circularDiameter}}
                  @onChange={{fn (mut this.circularDiameter)}}/>
                <PaperInput
                  @type={{"number"}}
                  @value={{this.circularDiameter}}
                  @onChange={{fn (mut this.circularDiameter)}}
                  @min={{0}}
                  @max={{300}}/>
              </div>
              <div class="layout layout-align-center-center slider-container">
                <span>Stroke Radio:&nbsp;&nbsp;&nbsp;</span>
                <PaperSlider
                  class={{"flex"}}
                  @min={{0}}
                  @max={{0.5}}
                  @value={{this.circularStrokeRatio}}
                  @step={{0.01}}
                  @onChange={{fn (mut this.circularStrokeRatio)}}/>
                <PaperInput
                  @type={{"number"}}
                  @value={{this.circularStrokeRatio}}
                  @onChange={{fn (mut this.circularStrokeRatio)}}
                  @min={{0}}
                  @max={{0.5}}/>
              </div>
            </div>
          </div>
        </PaperForm>
        {{outlet}}
      </div>
      <div class="flex-40">
        <p>Last Modal Options:</p>
        <pre>{{this.stringifiedOptions}}</pre>
        <p>Logs:</p>
        <p class="logs">{{#each this.messages as |message|}}{{message}}<br>{{/each}}</p>
        <PaperButton
          @raised={{true}}
          @onClick={{this.cleanMessage}}>
          Clear logs
        </PaperButton>
      </div>
    </div>
  </PaperContent>
</div>
<ModalsContainer/>