<div class="layout-row flex">
  <div class="flex-60 demo">
    <h3>Default modals:</h3>
    {{#paper-button raised=true class="alert-modal" onClick=(action "showAlertModal")}}Alert Modal{{/paper-button}}
    {{#paper-button raised=true class="confirm-modal" onClick=(action "showConfirmModal")}}Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="prompt-modal" onClick=(action "showPromptModal")}}Prompt Modal{{/paper-button}}
    {{#paper-button raised=true class="prompt-confirm-modal" onClick=(action "showPromptConfirmModal")}}Prompt Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="check-confirm-modal" onClick=(action "showCheckConfirmModal")}}Check Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="progress-modal" onClick=(action "showProgressModal")}}Progress Modal{{/paper-button}}
    {{#paper-button raised=true class="process-modal" onClick=(action "showProcessModal")}}Process Modal{{/paper-button}}

    <h3>Modals with custom components:</h3>
    {{#paper-button raised=true class="custom-alert-modal" onClick=(action "showCustomAlertModal")}}Alert Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-confirm-modal" onClick=(action "showCustomConfirmModal")}}Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-prompt-modal" onClick=(action "showCustomPromptModal")}}Prompt Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-prompt-confirm-modal" onClick=(action "showCustomPromptConfirmModal")}}Prompt Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-check-confirm-modal" onClick=(action "showCustomCheckConfirmModal")}}Check Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-progress-modal" onClick=(action "showCustomProgressModal")}}Progress Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-process-modal" onClick=(action "showCustomProcessModal")}}Process Modal{{/paper-button}}
    <h3>Settings:</h3>
    {{#paper-form}}
      <h4>Prompt:</h4>
      {{paper-checkbox value=disallowEmptyPrompt class="disallow-empty" label="Disallow empty prompt" onChange=(action (mut disallowEmptyPrompt))}}
      <h4>Progress:</h4>
      <div class="layout-row flex">
        <div class="flex-50">
          {{paper-checkbox value=progressWillFail class="progress-will-fail" label="Progress will fail" onChange=(action (mut progressWillFail))}}
        </div>
        <div class="flex-50">
          {{paper-checkbox value=progressCircular class="progress-circular" label="Progress bar is circular" onChange=(action (mut progressCircular))}}
        </div>
      </div>
      <h4>Process:</h4>
      {{paper-checkbox value=processWillFail class="process-will-fail" label="Process will fail" onChange=(action (mut processWillFail))}}
      <div class="layout-row flex">
        <div class="flex-50">
          <h4>Color for Process and Progress:</h4>
          {{#paper-radio-group
            groupValue=(readonly colorType)
            onChange=(action (mut colorType)) as |group|}}
            {{#group.radio value="primary"}} Default {{/group.radio}}
            {{#group.radio value="warn" }} Warn {{/group.radio}}
            {{#group.radio value="accent"}} Accent {{/group.radio}}
          {{/paper-radio-group}}
        </div>
        <div class="flex-50">
          <h4>Circular options:</h4>
          <div class="layout layout-align-center-center slider-container">
            <span>Diameter:&nbsp;&nbsp;&nbsp;</span>
            {{paper-slider
              class="flex"
              min=0
              max=300
              value=circularDiameter
              onChange=(action (mut circularDiameter))
            }}
            {{paper-input
              type="number"
              value=circularDiameter
              onChange=(action (mut circularDiameter))
              min=0
              max=300
            }}
          </div>
          <div class="layout layout-align-center-center slider-container">
            <span>Stroke Radio:&nbsp;&nbsp;&nbsp;</span>
            {{paper-slider
              class="flex"
              min=0
              max=0.5
              value=circularStrokeRatio
              step=0.01
              onChange=(action (mut circularStrokeRatio))
            }}
            {{paper-input
              type="number"
              value=circularStrokeRatio
              onChange=(action (mut circularStrokeRatio))
              min=0
              max=0.5
            }}
          </div>
        </div>
      </div>
    {{/paper-form}}
    {{outlet}}
  </div>
  <div class="flex-40">
    <p>Last Modal Options:</p>
    <pre>{{stringifiedOptions}}</pre>
    <p>Logs:</p>
    <p class="logs">{{#each messages as |message|}}{{message}}<br>{{/each}}</p>
    {{#paper-button raised=true onClick=(action "cleanMessage")}}Clear logs{{/paper-button}}
  </div>
</div>