<div class="layout-row flex">
  <div class="flex-50 demo">
    <h3>Default modals:</h3>
    {{#paper-button raised=true class="alert-modal" onClick=(action "showAlertModal")}}Alert Modal{{/paper-button}}
    {{#paper-button raised=true class="confirm-modal" onClick=(action "showConfirmModal")}}Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="prompt-modal" onClick=(action "showPromptModal")}}Prompt Modal{{/paper-button}}
    {{#paper-button raised=true class="prompt-confirm-modal" onClick=(action "showPromptConfirmModal")}}Prompt Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="check-confirm-modal" onClick=(action "showCheckConfirmModal")}}Check Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="progress-modal" onClick=(action "showProgressModal")}}Progress Modal{{/paper-button}}
    {{#paper-button raised=true class="process-modal" onClick=(action "showProcessModal")}}Process Modal{{/paper-button}}

    <h3>Modals with custom components:</h3>
    {{#paper-button raised=true class="custom-alert-modal" onClick=(action "showCustomAlertModal")}}Alert Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-confirm-modal" onClick=(action "showCustomConfirmModal")}}Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-prompt-modal" onClick=(action "showCustomPromptModal")}}Prompt Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-prompt-confirm-modal" onClick=(action "showCustomPromptConfirmModal")}}Prompt Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-check-confirm-modal" onClick=(action "showCustomCheckConfirmModal")}}Check Confirm Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-progress-modal" onClick=(action "showCustomProgressModal")}}Progress Modal{{/paper-button}}
    {{#paper-button raised=true class="custom-process-modal" onClick=(action "showCustomProcessModal")}}Process Modal{{/paper-button}}
    <h3>Settings:</h3>
    {{#paper-form as |form|}}
      <h4>Prompt:</h4>
      {{paper-checkbox value=disallowEmptyPrompt class="disallow-empty" label="Disallow empty prompt" onChange=(action (mut disallowEmptyPrompt))}}
      <h4>Progress:</h4>
      <div class="row">
        <div class="col-md-6">
          {{paper-checkbox value=showLabel class="progress-show-label" label="Show label in the progress bar" onChange=(action (mut showLabel))}}
          {{#paper-select
            label="State"
            options=typeChoices
            selected=userState
            value=type
            onChange=(action (mut type))
          as |t|}}
            {{t}}
          {{/paper-select}}

        </div>
        <div class="col-md-6">
          {{paper-checkbox value=striped class="progress-striped" label="Progress bar is striped" onChange=(action (mut striped))}}
          {{paper-checkbox value=anumated class="progress-animate" disabled=notStriped label="Progress bar is animated" onChange=(action (mut animated))}}
          {{paper-checkbox value=progressWillFail class="progress-will-fail" label="Progress will fail" onChange=(action (mut progressWillFail))}}
        </div>
      </div>
      <h4>Process</h4>
      {{paper-checkbox value=processWillFail class="process-will-fail" label="Process will fail" onChange=(action (mut processWillFail))}}
    {{/paper-form}}
    {{outlet}}
  </div>
  <div class="flex-50">
    <p>Last Modal Options:</p>
    <pre>{{stringifiedOptions}}</pre>
    <p>Logs:</p>
    <p class="logs">{{#each messages as |message|}}{{message}}<br>{{/each}}</p>
    {{#paper-button raised=true onClick=(action "cleanMessage")}}Clear logs{{/paper-button}}
  </div>
</div>